@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: rgb(9, 22, 34);
    --text-color: #fff;
    --main-color: rgb(0, 255, 4);
}

html { 
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.content {
    position: relative; 
    z-index: 2; 
    padding: .2px; 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1e1e23;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1 rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.home-img img{
    width: 350px;
    height: 350px;
}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.glowing-circle .image {
    position: relative;
    top: -60px;
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg, white,grey,silver);
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.glowing-circle .image:hover {
    box-shadow: 0 0 5rem var(--main-color);
}

.image img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.sp , .multiple-text,
span
{
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    text-align: justify;
    padding: 10px;
    padding-left: 0;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .2s ease;
}

.btn:hover {
    box-shadow: 0 0 2rem var(--main-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding-top: 2px;
}

.ed-heading {
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 75px;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-col {
    flex: 1 1 40rem;
}

.education-col .ed-title, 
.sk-title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
    text-decoration: underline;
}

.education-col .education-box {
    border-left: .2rem dotted var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .ed-content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.ed-content:hover {
    box-shadow: 0 0 3rem var(--main-color);
}

.education-content .ed-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
}

.education-content .ed-content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .ed-content .year i {
    padding-right: .5rem;
}

.education-content .ed-content h3 {
    font-size: 2rem;
}

.education-content .ed-content p {
    font-size: 1.4rem;
    padding-top: .5rem;
}

.grades {
    position: absolute;
    bottom: 10px; /* Adjust distance from the bottom */
    right: 10px;  /* Adjust distance from the right */
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
}

.sk-box .sk-content {
    position: relative;
    padding-left: 2rem;
}

.sk-content .sk-content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.sk-content .sk-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the icon rounded */
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
}

.icon-container img:hover {
    box-shadow: 0 0 2rem var(--main-color);
}

.icon-container span {
    margin-top: 8px;
    font-weight: 700;
    font-size: 14px;
}

/* Optional: Make it responsive */
@media screen and (max-width: 600px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card-box {
    padding-left: 2rem;
}

.card {
    position: relative;
    padding: 1rem;
    height: 145px;
    border: .2rem solid var(--main-color);
    background: var(--second-bg-color);
    border-radius: .6rem;
    overflow: hidden;
}


.card__tags {
    overflow: auto;
    height: 100%;
    padding-left: 20px;
    padding-top: 15px;
}


.tag__name {
    display: inline-block;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: var(--text-color);
    padding: 6px 23px 9px;
    border-radius: 70em;
    margin: 8px 6px 8px 0;
    margin-left: 0px;
    position: relative;
    cursor: pointer;
}

.tag__name:hover {
    box-shadow: 0 0 2rem var(--main-color);
}

.project {
    padding: 4rem 0;
    text-align: center;
    background-color: transparent;
}

.project .pr-heading {
    font-size: 5rem;
    padding-top: 50px;
    margin-bottom: 3rem;
}

.project h2.heading span {
    color: var(--main-color);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 150px;
    padding-top: 0;
    padding-bottom: 0;
}

.project-card {
    background: linear-gradient(45deg, navy, rgb(0, 128, 83));
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 1rem;
    width: 265px;
    height: 350px;
    margin: auto;
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}

.project-card h4 {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--text-color);
    text-decoration: underline;
}

.project-card p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.project-card a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--main-color);
    border-radius: 50%;
}

.project-card a i {
    font-size: 1.5rem;
    color: var(--bg-color);
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 3rem var(--text-color);
}

.project-card a:hover {
    box-shadow: 0 0 5rem var(--main-color);
}

.contact {
    padding: 75px;
    padding-bottom: 20px;
}

.con-heading {
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    font-size: 16px;
    margin: 12px 0;
}

.field.error .item {
    border-color: red;
}

.field .item::placeholder {
    color: rgba(0, 0, 0, 0.774);
}

.field .error-txt {
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    padding-left: 2px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: var(--main-color);
    border-radius: 35px;
    align-items: center;
    box-shadow: none;
    font-size: 16px;
    color: var(--bg-color);
    letter-spacing: 1px;
    font-weight: 650;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s ease;
}

form button:hover {
    box-shadow: 0 0 3rem var(--main-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10%;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: #1e1e23;
}

.footer-text p {
    font-size: 1.6rem;
    justify-content: center;
}

.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icontop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icontop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

body {
    color: white;
    background: black;
}

.bganimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
    z-index: -1;
}

.colorbox {
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.backgroundanim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgb(0, 106, 255);
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0% {
        top: -160px;
    }
    100% {
        top: 120%;
    }
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 1001;
    opacity: 1; /* Fully visible */
    transition: opacity 0.5s ease; /* Smooth fade-in and fade-out */
}

.popup-content {
    background: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px; /* Fixed width */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/* Class for hiding the popup */
.popup.hide {
    opacity: 0; /* Fades out */
    pointer-events: none; /* Disable interaction */
}

/* Close button styles */
.close {
    color: rgb(45, 44, 44);
    float: right;
    padding-right: 5px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


/* Media Queries for Responsive Design */

/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {
    .home-content h1 {
        font-size: 4rem; /* Scale down the heading size */
    }

    .home-content h3 {
        font-size: 2rem; /* Scale down the subheading size */
    }

    .project-container {
        padding: 8px;
    }
}

/* For screens smaller than 992px */
@media screen and (max-width: 992px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr); /* Display 2 project cards in one row */
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr); /* Display 3 skill boxes in one row */
    }

    .home-content {
        flex-basis: 60%; /* Adjust home content width */
    }
}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
    .header {
        padding: 1.5rem 5%; /* Reduce padding for the header */
    }

    .home {
        flex-direction: column; /* Stack the content vertically */
        text-align: center; /* Center align the text */
    }

    .home-content h1 {
        font-size: 3.5rem; /* Further scale down the heading size */
    }

    .home-content h3 {
        font-size: 1.8rem; /* Further scale down the subheading size */
    }

    .home-img img {
        max-width: 300px; /* Adjust image size for smaller screens */
    }

    .glowing-circle .image {
        top: 15px; /* Adjusted from -60px to 0 to lower the circle */
    }

    /* Navbar adjustments */
    #menu-icon {
        display: block; /* Show the menu icon for mobile screens */
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1e1e23;
        flex-direction: column;
        padding: 1rem 0;
    }

    .navbar.active {
        display: flex; /* Navbar shows on mobile when active */
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr); /* Adjust to a single column on small screens */
        padding: 0; /* Remove the left padding */
        gap: 1.5rem; /* Reduce the gap between cards */
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr); /* Display 2 skill boxes per row */
    }
}

/* For screens smaller than 576px */
@media screen and (max-width: 576px) {
    section {
        padding: 8rem 5%; /* Reduce section padding */
    }

    .navbar a {
        font-size: 1.4rem;
        padding-bottom: 5px;
    }

    .home-content h1 {
        font-size: 3rem; /* Scale down the heading size for smaller screens */
    }

    .home-content h3 {
        font-size: 2rem; /* Scale down the subheading size */
    }

    .project {
        padding: 0;
    }

    .education {
        padding-bottom: 20px;
    }

    .project-container {
        grid-template-columns: 2fr; /* Keep showing 1 project card per row */
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr); /* Show 1 skill box per row */
    }

    .card {
        height: 170px;
    }

    .card__tags {
        padding: 0;
    }
    
    .tag {
        padding-left: 8px;
    }

    .popup-content {
        width: 200px; /* Reduce the width for mobile screens */
        padding: 10px; /* Adjust padding */
        font-size: 14px; /* Decrease font size for better readability */
        font-weight: 610;
    }

    .close {
        font-size: 20px; /* Adjust the close button size */
    }

    .contact {
        padding-bottom: 0;
    }


    .con-heading, .pr-heading {
        font-size: 3.5rem; /* Decrease heading font size */
    }

    form .input-box {
        flex-direction: column;
    }

    .input-box .input-field {
        width: 100%;
        margin-bottom: 15px;
    }

    .field .item {
        font-size: 14px;
        padding: 14px;
    }

    form button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .footer-text p {
        font-size: 1.2rem; /* Decrease font size for mobile */
    }

    .footer-icontop a {
        padding: 0.5rem; /* Adjust padding for smaller icons */
        border-radius: 0.5rem; /* Adjust border radius */
    }

    .footer-icontop a i {
        font-size: 1.8rem; /* Reduce icon size */
    }
}
